.btn {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 15px 20px;
	font-size: 14px;
	font-family: $font;
	line-height: 1.3;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;
	background-color: #FFF;
	border: none;

	&:focus,&:hover{
		outline: none;
		background: #ec5068;
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}