@mixin res($breakpoint) {
	@media #{inspect(map-get($breakpoints, $breakpoint))} {
		@content;
	}
}

/// Иоконка закрытия модальных окон в виде креста.
$full_cross_size: 36px;
$cross_size: 20px;
$cross_weight: 2px;
$cross_color: #FFF;
$cross-color--hover: #000;
$cross-bg-color: #000;
$cross-bg-color--hover: #fffb42;

@mixin cross() {
	position: absolute;
	top: -$full_cross_size/2;
	right: -$full_cross_size/2;
	cursor: pointer;
	transition: all 0.3s ease;
	background-color: $cross-bg-color;
	width: $full_cross_size;
	height: $full_cross_size;
	border-radius: 50%;
	border: none;
	@include res(s) {
		top: 5px;
		right: 5px;
	}

	&:hover {
		background-color: $cross-bg-color--hover;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -$cross_weight/2;
		margin-left: -$cross_size/2;
		width: $cross_size;
		height: $cross_weight;
		background: $cross_color;
		transition: all 0.3s ease;
		border-radius: 0;
	}

	&:hover:before, &:hover:after {
		background-color: $cross-color--hover;
	}

	&:before {
		transform: rotate(-45deg);
	}

	&:after {
		transform: rotate(45deg);
	}

	&:focus {
		outline: none;
		&:before, &:after {
			outline: none;
		}
	}

	svg {
		display: none;
	}
}