.modal {
	display: none;
	width: 500px;
	max-width: 100%;
	will-change: transform, opacity;
	overflow: visible !important;
	color: #000;
	@include res(s){
		padding: 15px;
		font-size: 14px;
	}

	&--text{
		width: 900px;

		p{
			margin-bottom: 10px;
		}

		ul{
			margin-bottom: 10px;
			padding-left: 20px;

			li{
				margin-bottom: 5px;
			}
		}
	}

	&__title{
		font-weight: 500;
		font-size: 24px;
		text-transform: uppercase;
		@include res(s){
			font-size: 16px;
			padding-right: 30px;
		}
	}
}

.fancybox-slide--current {
	.modal {

	}
}

.fancybox-is-closing {
	.modal {

	}
}

.fancybox-bg {
	background: #8c8e9a;
}

.fancybox-close-small, .fancybox-slide--image .fancybox-close-small, .fancybox-slide--video .fancybox-close-small, .fancybox-slide--iframe .fancybox-close-small,.fancybox-slide--html .fancybox-close-small {
	@include cross();
	opacity: 1;
}

.fancybox-slide--video {
	padding: 40px 18px;
}

.fancybox-slide--iframe {
	padding: 40px 18px;
}

.fancybox-slide--html{
	padding: 20px;
	@include res(s){
		padding: 8px;
	}
}