$breakpoints: (
	'xxl': (max-width: 1680px),
	'xl': (max-width: 1400px),
	'l': (max-width: 1024px),
	'm': (max-width: 768px),
	's': (max-width: 680px),
	'xs': (max-width: 480px),
	'xxs': (max-width: 375px),
);

$font: 'Gotham Pro', 'Helvetica Neue', Arial, sans-serif;
$font-serif: 'MetaSerifPro', serif;

$container_width: 990px;

$gutter: 12px;